/*media query voor tablet begint bij 750px*/
@media only screen and (min-width: 750px){

	/*breedte van linker en middel chart naar 50% zodat ze naast elkaar komen te staan*/
	.flex-item-left, .flex-item-center{
		width: 50%;
	}

	/*custom padding zodat de chart niet groot/in your face zit*/
	.flex-item-right{
		padding: 20px 50px 20px 50px;;
	}

	.smallx{
		display: none;
	}

	/*verander naar groter spacex logo*/
	.spacex{
		display: inline-block;
		height: auto;
    	width: 40%;
    	padding-bottom: 20px;
	}

	/*van column naar row zodat linker en middel chart naast elkaar kunnen*/
	.flex-container{
		flex-direction: row;
	}
}